In [1]:
try:
    import mysql.connector 
    from mysql.connector import Error
    print("Imported Successfully")
except:
    print("Ran into  Trouble")

Imported Successfully

In [10]:
try:
    connection = mysql.connector.connect(user = "root",
                                         password = "Meremember1@#",
                                         database = "mydb")
    cursor = connection.cursor()
    print("Live Connection Estabilished")
except Error as e:
    print(f'Ran into error:  {e} ')

Live Connection Estabilished

In [3]:
cursor.execute("""SHOW TABLES;""")
tables = cursor.fetchall()
for index,table in enumerate(tables, start = 1):
    print(f'{index} --->  {table[0]}')
    cursor.nextset()

1 --->  bookings
2 --->  customers
3 --->  menu
4 --->  orders
5 --->  payment
6 --->  staff
7 --->  staff_details
8 --->  status

In [8]:
# queries for inserting data into customers table

insert_customers = ("""
    INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES 
    ('Hiroshi', 'Tanaka', 'hiroshi.tanaka@example.jp', '+81-90-1234-5678'),
    ('Aisha', 'Khan', 'aisha.khan@example.pk', '+92-300-567-8901'),
    ('Carlos', 'Gomez', 'carlos.gomez@example.es', '+34-612-345-678'),
    ('Fatima', 'Ahmed', 'fatima.ahmed@example.sa', '+966-50-123-4567'),
    ('Ivan', 'Petrov', 'ivan.petrov@example.ru', '+7-911-123-4567'),
    ('Chen', 'Wei', 'chen.wei@example.cn', '+86-139-1234-5678'),
    ('Sophia', 'Müller', 'sophia.mueller@example.de', '+49-172-345-6789'),
    ('Liam', "O'Connor", 'liam.oconnor@example.ie', '+353-87-123-4567'),
    ('Amara', 'Ndiaye', 'amara.ndiaye@example.sn', '+221-77-123-4567'),
    ('Raj', 'Patel', 'raj.patel@example.in', '+91-98765-43210'),
    ('Emily', 'Smith', 'emily.smith@example.au', '+61-412-345-678'),
    ('Ahmed', 'El-Sayed', 'ahmed.elsayed@example.eg', '+20-100-123-4567'),
    ('Olivia', 'Rossi', 'olivia.rossi@example.it', '+39-347-123-4567'),
    ('Mei', 'Yamada', 'mei.yamada@example.jp', '+81-80-1234-5678'),
    ('Andrés', 'Martínez', 'andres.martinez@example.mx', '+52-55-1234-5678');
""")

In [11]:
try:
    cursor.execute(insert_customers)
    connection.commit()
    print("Data Insertion Completed")
    cursor.nextset()
except Error as e:
    print(f'the issue we have ran into is :  {e}')
    cursor.close()

Data Insertion Completed

In [20]:
try:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection Sucessfully Closed")
    else:
        print("Connection already closed")
except Error as e:
    print(f"The problem we ran into is : {e}")
finally:
    print("Have a great day ahead !!! ")

Connection Sucessfully Closed
Have a great day ahead !!!

In [18]:
# Data Checker


try:
    cursor.execute("SELECT * FROM Customers")
    result = cursor.fetchall()
    print("   f_name   ","    l_name  ","   email           ","             ph_no      ")
    for ids,f_name,l_name,email,ph_no in result:
        print("  ",f_name,"    ",l_name,"         ",email,"        ",ph_no)
    print("")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is {e}")

   f_name        l_name      email                         ph_no
   Hiroshi      Tanaka           hiroshi.tanaka@example.jp          +81-90-1234-5678
   Aisha      Khan           aisha.khan@example.pk          +92-300-567-8901
   Carlos      Gomez           carlos.gomez@example.es          +34-612-345-678
   Fatima      Ahmed           fatima.ahmed@example.sa          +966-50-123-4567
   Ivan      Petrov           ivan.petrov@example.ru          +7-911-123-4567
   Chen      Wei           chen.wei@example.cn          +86-139-1234-5678
   Sophia      Müller           sophia.mueller@example.de          +49-172-345-6789
   Liam      O'Connor           liam.oconnor@example.ie          +353-87-123-4567
   Amara      Ndiaye           amara.ndiaye@example.sn          +221-77-123-4567
   Raj      Patel           raj.patel@example.in          +91-98765-43210
   Emily      Smith           emily.smith@example.au          +61-412-345-678
   Ahmed      El-Sayed           ahmed.elsayed@example.eg          +20-100-123-4567
   Olivia      Rossi           olivia.rossi@example.it          +39-347-123-4567
   Mei      Yamada           mei.yamada@example.jp          +81-80-1234-5678
   Andrés      Martínez           andres.martinez@example.mx          +52-55-1234-5678