In [ ]:
try:
    import mysql.connector 
    from mysql.connector import Error
    print("Imported Successfully")
except:
    print("Ran into  Trouble")

In [ ]:
try:
    connection = mysql.connector.connect(user = "root",
                                         password = "Meremember1@#",
                                         database = "mydb")
    cursor = connection.cursor()
    print("Live Connection Estabilished")
except Error as e:
    print(f'Ran into error:  {e} ')

In [ ]:
cursor.execute("""SHOW TABLES;""")
tables = cursor.fetchall()
for index,table in enumerate(tables, start = 1):
    print(f'{index} --->  {table[0]}')
    cursor.nextset()

In [ ]:
# try:
#     if connection.is_connected():
#         cursor.close()
#         connection.close()
#         print("Connection Sucessfully Closed")
#     else:
#         print("Connection already closed")
# except Error as e:
#     print(f"The problem we ran into is : {e}")
# finally:
#     print("Have a great day ahead !!! ")

#### For now the precaution measurement we have taken is like -->
#### if the insertion command is found to be faulty then the cursor will close and we will have to restart the cursor
#### the cursor start command is given below -->

In [ ]:
# try:
#     if connection.is_connected():
#         try:
#             connection.cursor()
#             print("Cursor is Live")
#         except:
#             print("Cursor is Already Running")
#     else:
#         print("Reach the 2nd top cell where you will be able to create a secure connection")
# except Error as e:
#     print(f'The issue is : {e} ')

### From Here We Will Start Inserting The Data

In [ ]:
# queries for inserting data into customers table

insert_customers = ("""
    INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES
    ('Hiroshi', 'Tanaka', 'hiroshi.tanaka@example.jp', '+81-90-1234-5678'),
    ('Aisha', 'Khan', 'aisha.khan@example.pk', '+92-300-567-8901'),
    ('Carlos', 'Gomez', 'carlos.gomez@example.es', '+34-612-345-678'),
    ('Fatima', 'Ahmed', 'fatima.ahmed@example.sa', '+966-50-123-4567'),
    ('Ivan', 'Petrov', 'ivan.petrov@example.ru', '+7-911-123-4567'),
    ('Chen', 'Wei', 'chen.wei@example.cn', '+86-139-1234-5678'),
    ('Sophia', 'Müller', 'sophia.mueller@example.de', '+49-172-345-6789'),
    ('Liam', "O'Connor", 'liam.oconnor@example.ie', '+353-87-123-4567'),
    ('Amara', 'Ndiaye', 'amara.ndiaye@example.sn', '+221-77-123-4567'),
    ('Raj', 'Patel', 'raj.patel@example.in', '+91-98765-43210'),
    ('Emily', 'Smith', 'emily.smith@example.au', '+61-412-345-678'),
    ('Ahmed', 'El-Sayed', 'ahmed.elsayed@example.eg', '+20-100-123-4567'),
    ('Olivia', 'Rossi', 'olivia.rossi@example.it', '+39-347-123-4567'),
    ('Mei', 'Yamada', 'mei.yamada@example.jp', '+81-80-1234-5678'),
    ('Andrés', 'Martínez', 'andres.martinez@example.mx', '+52-55-1234-5678');

""")

In [ ]:
try:
    cursor.execute(insert_customers)
    connection.commit()
    print("Data Insertion Completed")
    cursor.nextset()
except Error as e:
    print(f'the issue we have ran into is :  {e}')
    cursor.close()

In [ ]:
# queries for inserting the payment details

insert_payment = (""" INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES
    (5, 17.98, 'Debit', 'Satisfactory'),
    (8, 12.99, 'Credit', 'Good Experience'),
    (15, 29.97, 'Credit', 'Great Experience'),
    (4, 33.90, 'Debit', 'Delicious Food'),
    (13, 18.00, 'Credit', 'Excellent Value'),
    (11, 13.00, 'Debit', 'Nice Ambiance'),
    (2, 24.00, 'Cash', 'Quick Service'),
    (3, 36.00, 'Debit', 'Great Service'),
    (9, 15.00, 'Cash', 'Would Come Again'),
    (6, 35.25, 'Credit', 'Good Value'),
    (7, 9.99, 'Debit', 'Quick Delivery'),
    (12, 22.50, 'Credit', 'Highly Recommended'),
    (14, 15.00, 'Cash', 'Decent Service'),
    (10, 13.50, 'Debit', 'Decent');



""")

In [ ]:
try:
    cursor.execute(insert_payment)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()

In [ ]:
# queries for inserting the order status details

insert_status = ("""

INSERT INTO status (Table_No, Status, Feedback) VALUES
    (1, 'In Progress', 'The order is taking longer than expected.'),
    (2, 'Pending', 'Waiting for the kitchen to start preparing the food.'),
    (3, 'Completed', 'Service was quick and efficient!'),
    (4, 'In Progress', 'Food is taking a bit longer, but the staff is friendly.'),
    (5, 'Pending', 'Still waiting for confirmation from the kitchen.'),
    (6, 'Completed', 'Great speed, food arrived faster than expected!'),
    (7, 'In Progress', 'The order seems to be delayed; waiting for an update.'),
    (8, 'Pending', 'Food preparation is taking longer than usual.'),
    (9, 'Completed', 'Excellent service, the food came right on time!'),
    (10, 'In Progress', 'It’s been a while; hope the food arrives soon.'),
    (11, 'Completed', 'Very quick and efficient service, will return!'),
    (12, 'Pending', 'Still awaiting confirmation on the availability of items.'),
    (13, 'Completed', 'Great timing, everything was served hot and fresh!'),
    (14, 'In Progress', 'The order is taking too long, hope it’s worth the wait.'),
    (15, 'Pending', 'Hoping for a quick delivery; not sure about the wait time.');


""")

In [ ]:
try:
    cursor.execute(insert_status)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()

In [ ]:
# queries for inserting the staff details

insert_staff_details = ("""
INSERT INTO staff_details (Staff_Details_ID, Name, Email, Phone_No, Role, Address) VALUES
(1, 'John Doe', 'john.doe@example.com', '555-1234', 'Manager', '123 Main St, Springfield, IL'),
(2, 'Jane Smith', 'jane.smith@example.com', '555-5678', 'Chef', '456 Elm St, Springfield, IL'),
(3, 'Paul Turner', 'paul.turner@example.com', '555-8765', 'Waiter', '789 Oak St, Springfield, IL'),
(4, 'Emily Davis', 'emily.davis@example.com', '555-4321', 'Bartender', '321 Pine St, Springfield, IL'),
(5, 'Michael Brown', 'michael.brown@example.com', '555-2345', 'Dishwasher', '654 Maple St, Springfield, IL'),
(6, 'Sarah Williams', 'sarah.williams@example.com', '555-6789', 'Server', '987 Cedar St, Springfield, IL'),
(7, 'David Miller', 'david.miller@example.com', '555-3456', 'Cook', '135 Birch St, Springfield, IL'),
(8, 'Olivia Wilson', 'olivia.wilson@example.com', '555-6543', 'Manager', '246 Willow St, Springfield, IL'),
(9, 'James Moore', 'james.moore@example.com', '555-7890', 'Waiter', '369 Elm St, Springfield, IL'),
(10, 'Linda Taylor', 'linda.taylor@example.com', '555-1122', 'Host', '753 Pine St, Springfield, IL');
""")

In [ ]:
try:
    cursor.execute(insert_staff_details)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()

In [ ]:
# queries for inserting the menu table details


insert_menu = (""" INSERT INTO menu (Cuisine, Food_Name, Food_Type, Price, Discount) VALUES 
    ('Italian', 'Margherita Pizza', 'Main Course', 12.99, 0.10),
    ('Japanese', 'Sushi Rolls', 'Appetizer', 18.50, 0.05),
    ('Mexican', 'Tacos', 'Main Course', 8.99, 0.15),
    ('Indian', 'Butter Chicken', 'Main Course', 14.50, 0.20),
    ('Chinese', 'Sweet and Sour Pork', 'Main Course', 11.75, 0.00),
    ('French', 'Croissant', 'Snack', 3.50, 0.10),
    ('American', 'Cheeseburger', 'Main Course', 9.99, 0.25),
    ('Thai', 'Pad Thai', 'Main Course', 13.00, 0.00),
    ('Lebanese', 'Hummus with Pita', 'Appetizer', 7.50, 0.05),
    ('Italian', 'Spaghetti Carbonara', 'Main Course', 15.00, 0.12),
    ('Greek', 'Moussaka', 'Main Course', 16.99, 0.08),
    ('Spanish', 'Paella', 'Main Course', 20.00, 0.15),
    ('Japanese', 'Ramen', 'Main Course', 10.99, 0.10),
    ('Indian', 'Samosa', 'Appetizer', 5.50, 0.00),
    ('Mexican', 'Quesadilla', 'Main Course', 12.50, 0.20);


""")

In [ ]:
try:
    cursor.execute(insert_menu)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()

In [ ]:
insert_staff = ("""
INSERT INTO staff (Staff_ID, Table_No, Availability) VALUES 
     (1, 5, "Yes"),
     (2, 8, "No"),
     (3, 1, "Yes"),
     (4, 3, "Yes"),
     (5, 7, "Yes"),
     (6, 2, "No"),
     (7, 12, "Yes"),
     (8, 4, "Yes"),
     (9, 9, "Yes"),
    (10, 15, "No");

""")

In [ ]:
try:
    cursor.execute(insert_staff)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()

In [ ]:
# queries for inserting data into bookings table

insert_bookings = ("""
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Guests) VALUES 
(1, '2023-03-01 16:00:00', 5),
(8, '2023-07-27 12:45:00', 1),
(15, '2023-08-13 14:10:00', 4),
(4, '2023-09-09 21:00:00', 8),
(13, '2023-10-21 15:35:00', 5),
(11, '2023-11-03 18:20:00', 10),
(2, '2023-12-11 19:45:00', 2),
(3, '2024-04-22 11:15:00', 6),
(9, '2024-03-19 20:15:00', 7),
(6, '2024-01-14 10:30:00', 3),
(7, '2024-05-30 13:00:00', 9),
(12, '2024-07-11 08:50:00', 6),
(14, '2024-02-28 22:10:00', 3),
(10, '2024-06-05 09:30:00', 2);

""")

In [ ]:
try:
    cursor.execute(insert_bookings)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()

In [ ]:
insert_orders = (""" INSERT INTO orders (Booking_ID, Payment_ID, Menu_ID, Staff_ID, Table_No, Quantity) VALUES
    (5, 5, 3, 5, 7, 2),
    (8, 8, 1, 10, 4, 1),
    (15, 15, 7, 6, 2, 3),
    (4, 4, 2, 7, 3, 2),
    (13, 13, 10, 3, 6, 1),
    (11, 11, 6, 9, 1, 2),
    (2, 2, 12, 4, 12, 3),
    (3, 3, 13, 1, 5, 2),
    (9, 9, 14, 8, 4, 2),
    (6, 6, 5, 2, 8, 3),
    (7, 7, 8, 11, 15, 1),
    (12, 12, 9, 12, 7, 2),
    (14, 14, 11, 3, 10, 1),
    (10, 10, 4, 7, 9, 1);



""")

In [ ]:
try:
    cursor.execute(insert_orders)
    connection.commit()
    print("Data Insertion Complete")
    cursor.nextset()
except Error as e:
    print(f"The Error we have ran onto is: {e}")
    cursor.close()