### This notebook will have a detailed analysis of Little Lemon DB

#### Importing the required modules

In [1]:
# !pip list , this is check if the required modules are already present within the database

In [2]:
# !python -m pip install pandas
# !python -m pip install numpy
# !python -m pip install seaborn

In [3]:
try:
    import mysql.connector as connection
    import numpy as np 
    import pandas as pd
    import seaborn as sns
    print(" ** imported successfully ** ")
except:
    print(" **one or more wrong import statement** ")

 ** imported successfully **

#### Establishing the Live Connection with our Database 
#### Which is in my local storage

In [4]:
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor(buffered = True)
    print("The connection alongside the cursor is live")
except Error as e:
    print(f'The error that has occured: {e}  ')

The connection alongside the cursor is live

### The code block below will immediately terminate the live connection
#### so only execute if anything gets messed up

In [11]:


try:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("the connection and the cursor both have been closed")
    else:
        print("There is no live connection")
except Error as e:
    print(f'The unknown variable is:  {e} ')

the connection and the cursor both have been closed

#### Now we shall store some randomly generated data into our database
#### we will use these data to analyze our booking and tracking system

In [13]:
cursor.execute("""SHOW TABLES;""")
type_guess = type(cursor.fetchall())
print(type_guess)

<class 'list'>

In [21]:
# taking a quick look at all the tables that are present witin thr database
cursor.execute("""USE mydb;""")
print("mydb database is in use")
cursor.execute("""SHOW TABLES;""")
tables = cursor.fetchall()
print(" ")
print("The names of the tables are")
print(" ")
for index,item in enumerate(tables, start = 1):
    print(f'{index}.  {item[0]} ')

mydb database is in use

The names of the tables are

IndexError: tuple index out of range