### This notebook will have a detailed analysis of Little Lemon DB

#### Importing the required modules

In [ ]:
# !pip list , this is check if the required modules are already present within the database

In [ ]:
# !python -m pip install pandas
# !python -m pip install numpy
# !python -m pip install seaborn

In [ ]:
try:
    import mysql.connector as connection
    import numpy as np 
    import pandas as pd
    import seaborn as sns
    print(" ** imported successfully ** ")
except:
    print(" **one or more wrong import statement** ")

#### Establishing the Live Connection with our Database 
#### Which is in my local storage

In [ ]:
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor(buffered = True)
    print("The connection alongside the cursor is live")
except Error as e:
    print(f'The error that has occured: {e}  ')

### The code block below will immediately terminate the live connection
#### so only execute if anything gets messed up

In [ ]:


try:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("the connection and the cursor both have been closed")
    else:
        print("There is no live connection")
except Error as e:
    print(f'The unknown variable is:  {e} ')

#### Now we shall store some randomly generated data into our database
#### we will use these data to analyze our booking and tracking system

In [ ]:
cursor.execute("""SHOW TABLES;""")
type_guess = type(cursor.fetchall())
print(type_guess)

In [ ]:
# taking a quick look at all the tables that are present witin thr database
cursor.execute("""USE mydb;""")
print("mydb database is in use")
cursor.execute("""SHOW TABLES;""")
tables = cursor.fetchall()
print(" ")
print("The names of the tables are")
print(" ")
for index,item in enumerate(tables, start = 1):
    print(f'{index}.  {item[0]} ')

##### ** Before inserting the data we are taking one table **
##### ** and describing items in it like data type etc **

In [ ]:
cursor.execute("""Describe Status;""")
bookings_table = cursor.fetchall()
for items in bookings_table:
    print(items)
    print("")

#### ** Defining the insert commands into specific variables **

In [ ]:
# queries for inserting data into bookings table

insert_bookings = ("""
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (45, '2023-06-15 14:30:00', 4);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (32, '2023-12-11 19:45:00', 2);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (17, '2024-04-22 11:15:00', 6);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (89, '2023-09-09 21:00:00', 8);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (54, '2023-03-01 16:00:00', 5);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (23, '2024-01-14 10:30:00', 3);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (78, '2024-05-30 13:00:00', 9);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (61, '2023-07-27 12:45:00', 1);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (15, '2024-03-19 20:15:00', 7);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (36, '2024-06-05 09:30:00', 2);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (49, '2023-11-03 18:20:00', 10);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (27, '2024-07-11 08:50:00', 6);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (90, '2023-10-21 15:35:00', 5);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (12, '2024-02-28 22:10:00', 3);
INSERT INTO bookings (Customer_ID, Booking_Time, Total_Customers) VALUES (71, '2023-08-13 14:10:00', 4);
""")

In [ ]:
# queries for inserting data into customers table

insert_customers = ("""
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Hiroshi', 'Tanaka', 'hiroshi.tanaka@example.jp', '+81-90-1234-5678');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Aisha', 'Khan', 'aisha.khan@example.pk', '+92-300-567-8901');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Carlos', 'Gomez', 'carlos.gomez@example.es', '+34-612-345-678');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Fatima', 'Ahmed', 'fatima.ahmed@example.sa', '+966-50-123-4567');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Ivan', 'Petrov', 'ivan.petrov@example.ru', '+7-911-123-4567');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Chen', 'Wei', 'chen.wei@example.cn', '+86-139-1234-5678');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Sophia', 'Müller', 'sophia.mueller@example.de', '+49-172-345-6789');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Liam', 'O\'Connor', 'liam.oconnor@example.ie', '+353-87-123-4567');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Amara', 'Ndiaye', 'amara.ndiaye@example.sn', '+221-77-123-4567');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Raj', 'Patel', 'raj.patel@example.in', '+91-98765-43210');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Emily', 'Smith', 'emily.smith@example.au', '+61-412-345-678');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Ahmed', 'El-Sayed', 'ahmed.elsayed@example.eg', '+20-100-123-4567');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Olivia', 'Rossi', 'olivia.rossi@example.it', '+39-347-123-4567');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Mei', 'Yamada', 'mei.yamada@example.jp', '+81-80-1234-5678');
INSERT INTO customers (First_Name, Last_Name, Email, Phone) VALUES ('Andrés', 'Martínez', 'andres.martinez@example.mx', '+52-55-1234-5678');

""")

In [ ]:
# queries for inserting data into menu table
insert_menu = ("""
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (1, 'Italian', 'Margherita Pizza', 'Main Course', 12.99, 0.10);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (2, 'Japanese', 'Sushi Rolls', 'Appetizer', 18.50, 0.05);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (3, 'Mexican', 'Tacos', 'Main Course', 8.99, 0.15);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (4, 'Indian', 'Butter Chicken', 'Main Course', 14.50, 0.20);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (5, 'Chinese', 'Sweet and Sour Pork', 'Main Course', 11.75, 0.00);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (6, 'French', 'Croissant', 'Snack', 3.50, 0.10);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (7, 'American', 'Cheeseburger', 'Main Course', 9.99, 0.25);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (8, 'Thai', 'Pad Thai', 'Main Course', 13.00, 0.00);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (9, 'Lebanese', 'Hummus with Pita', 'Appetizer', 7.50, 0.05);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (10, 'Italian', 'Spaghetti Carbonara', 'Main Course', 15.00, 0.12);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (11, 'Greek', 'Moussaka', 'Main Course', 16.99, 0.08);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (12, 'Spanish', 'Paella', 'Main Course', 20.00, 0.15);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (13, 'Japanese', 'Ramen', 'Main Course', 10.99, 0.10);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (14, 'Indian', 'Samosa', 'Appetizer', 5.50, 0.00);
INSERT INTO menu (Order_ID, Cuisine, Food_Name, Food_Type, Price, Discount) VALUES (15, 'Mexican', 'Quesadilla', 'Main Course', 12.50, 0.20);

""")

In [ ]:
insert_orders = ("""
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (1, 3, 5);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (2, 2, 7);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (3, 1, 4);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (4, 4, 2);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (5, 5, 6);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (6, 2, 3);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (7, 6, 1);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (8, 3, 8);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (9, 4, 9);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (10, 2, 10);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (11, 7, 11);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (12, 1, 12);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (13, 3, 13);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (14, 2, 14);
INSERT INTO orders (Booking_ID, Quantity, Table_No) VALUES (15, 5, 15);

""")

In [ ]:
insert_payment = ("""

INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (1, 41.97, 'Credit', 'Excellent Service');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (2, 45.00, 'Debit', 'Good Experience');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (3, 11.99, 'Cash', 'Satisfactory');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (4, 100.00, 'Credit', 'Delicious Food');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (5, 114.95, 'Debit', 'Nice Ambiance');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (6, 36.00, 'Cash', 'Great Service');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (7, 300.00, 'Credit', 'Amazing Experience');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (8, 22.50, 'Debit', 'Quick Service');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (9, 75.00, 'Cash', 'Would Come Again');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (10, 20.00, 'Credit', 'Decent');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (11, 455.00, 'Debit', 'Outstanding');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (12, 108.00, 'Credit', 'Good Value');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (13, 64.00, 'Cash', 'Very Satisfied');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (14, 39.00, 'Debit', 'Average');
INSERT INTO payment (Order_ID, Total_Amount, Payment_Type, Feedback) VALUES (15, 112.50, 'Credit', 'Highly Recommend');

""")

In [ ]:
insert_staff = ("""
INSERT INTO staff (Staff_ID, Table_No) VALUES (1, 5);
INSERT INTO staff (Staff_ID, Table_No) VALUES (2, 8);
INSERT INTO staff (Staff_ID, Table_No) VALUES (3, 1);
INSERT INTO staff (Staff_ID, Table_No) VALUES (4, 3);
INSERT INTO staff (Staff_ID, Table_No) VALUES (5, 7);
INSERT INTO staff (Staff_ID, Table_No) VALUES (6, 2);
INSERT INTO staff (Staff_ID, Table_No) VALUES (7, 12);
INSERT INTO staff (Staff_ID, Table_No) VALUES (8, 4);
INSERT INTO staff (Staff_ID, Table_No) VALUES (9, 9);
INSERT INTO staff (Staff_ID, Table_No) VALUES (10, 15);

""")

In [ ]:
insert_staff_details = ("""
INSERT INTO staff_details (Staff_ID, Name, Email, Phone_No, Role, Address) VALUES
(1, 'John Doe', 'john.doe@example.com', '555-1234', 'Manager', '123 Main St, Springfield, IL'),
(2, 'Jane Smith', 'jane.smith@example.com', '555-5678', 'Chef', '456 Elm St, Springfield, IL'),
(3, 'Paul Turner', 'paul.turner@example.com', '555-8765', 'Waiter', '789 Oak St, Springfield, IL'),
(4, 'Emily Davis', 'emily.davis@example.com', '555-4321', 'Bartender', '321 Pine St, Springfield, IL'),
(5, 'Michael Brown', 'michael.brown@example.com', '555-2345', 'Dishwasher', '654 Maple St, Springfield, IL'),
(6, 'Sarah Williams', 'sarah.williams@example.com', '555-6789', 'Server', '987 Cedar St, Springfield, IL'),
(7, 'David Miller', 'david.miller@example.com', '555-3456', 'Cook', '135 Birch St, Springfield, IL'),
(8, 'Olivia Wilson', 'olivia.wilson@example.com', '555-6543', 'Manager', '246 Willow St, Springfield, IL'),
(9, 'James Moore', 'james.moore@example.com', '555-7890', 'Waiter', '369 Elm St, Springfield, IL'),
(10, 'Linda Taylor', 'linda.taylor@example.com', '555-1122', 'Host', '753 Pine St, Springfield, IL');
""")

In [ ]:
insert_status = ("""

INSERT INTO status (Table_No, Status, Feedback) VALUES
(1, 'In Progress', 'The order is taking longer than expected.'),
(2, 'Pending', 'Waiting for the kitchen to start preparing the food.'),
(3, 'Completed', 'Service was quick and efficient!'),
(4, 'In Progress', 'Food is taking a bit longer, but the staff is friendly.'),
(5, 'Pending', 'Still waiting for confirmation from the kitchen.'),
(6, 'Completed', 'Great speed, food arrived faster than expected!'),
(7, 'In Progress', 'The order seems to be delayed; waiting for an update.'),
(8, 'Pending', 'Food preparation is taking longer than usual.'),
(9, 'Completed', 'Excellent service, the food came right on time!'),
(10, 'In Progress', 'It’s been a while; hope the food arrives soon.'),
(11, 'Completed', 'Very quick and efficient service, will return!'),
(12, 'Pending', 'Still awaiting confirmation on the availability of items.'),
(13, 'Completed', 'Great timing, everything was served hot and fresh!'),
(14, 'In Progress', 'The order is taking too long, hope it’s worth the wait.'),
(15, 'Pending', 'Hoping for a quick delivery; not sure about the wait time.');

""")

#### ** the insertion anomaly could occur 
#### if we try inserting the referenced data earlier **

In [ ]:
# in case any insertion causes the error
# use this to wipe the data and re-enter the data

# cursor.execute("""DELETE FROM table_name;""")
# cursor.execute("""SELECT * FROM table_name;""")
# check = cursor.fetchall()
# for items in check:
#        print(items)

In [ ]:
# This is to pre-check if the table already contains data
print("Now Checking")
cursor.execute("""SELECT * FROM customers;""")
commited = cursor.fetchall()
for items in commited:
    print(items)

In [ ]:
# First we are inserting the customers data
cursor.close()

try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_customers)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# then we are inserting the menu
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_menu)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# up next the bookings
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_bookings)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# finally the main orders table
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_orders)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# now inserting the order status 

try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_status)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# payment details

try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_payment)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# inserting the staff 
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_staff)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()

In [ ]:
# inserting the staff details (last)
try:
    conn = connection.connect(user = "root",
                              password = "Meremember1@#",
                              host = "localhost",
                              database ="mydb")
    cursor = conn.cursor()
    cursor.execute(insert_staff_details)
    print("Data Insertion Completed")
    conn.commit()
except connection.Error as e:
    print(f'The error that has occured is : {e}')
finally:
    cursor.close()